{%extends 'navBar.html'%}
{%block start%}
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h2>Update Skill</h2>
            <a class="backButton" href="{% url 'userAccount' %}"><i class="im im-angle-left"></i></a>
            <br>

            <form class="form" method="POST" action="">
                {% csrf_token %}

                {% for field in skills %}
                <div class="form__field">
                    <label for="formInput#text"> {{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>
{%endblock%}